.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

section {
  background-color: #222;
  flex-grow: 1;
}

nav {
  background-color: rgba(63, 195, 40, 0.471);
  padding: 20px 0 30px;
}

nav a {
margin: 0 10px;
text-decoration: none;
}

nav a.active {
  color: peru;
  text-decoration: underline;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
}

a {
  color: white;
  font-size: 35px;
}

h2 {
    margin-top: 40px;
}

input,
input + button {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #222;
    font-weight: 700;
}

input + button {
    margin-left: 20px;
    cursor: pointer;
    background-color: rgb(162, 173, 123);
    color: #f1f1f1;
}

input + button:hover {
    opacity: 0.8;
}
